.card {
    max-width: 600px;
    margin: 0 auto;
  }
.header-image {
    background-size: cover;
  }

.mat-card-actions {
    position: absolute;
    right: 0;
}

h5 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

