<h5>ITEM LIST</h5>
<mat-card class="card" *ngFor="let plant of plants">
    <mat-card-header>
        <img 
          mat-card-avatar 
          class="header-image" 
          [routerLink]="['/description']" 
          routerLinkActive="router-link-active" 
          src="{{plant.imagen}}" alt=""
        >
      <mat-card-title [routerLink]="['/description']" routerLinkActive="router-link-active">{{plant.nombre}}</mat-card-title>
      <mat-card-subtitle>{{plant.nombre_cientifico}}</mat-card-subtitle>
      <mat-card-actions>
        <button mat-button><mat-icon (click)="onDelete(plant.id)"></mat-icon></button>
        <button mat-button><mat-icon (click)="onUpdate()"></mat-icon></button>
      </mat-card-actions>
    </mat-card-header>
</mat-card>
