<h5>ITEM LIST</h5>
<mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image" [routerLink]="['/description']" routerLinkActive="router-link-active"></div>
      <mat-card-title [routerLink]="['/description']" routerLinkActive="router-link-active">Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      <mat-card-actions>
        <button mat-button><mat-icon>delete</mat-icon></button>
        <button mat-button><mat-icon>edit</mat-icon></button>
      </mat-card-actions>
    </mat-card-header>
</mat-card>
